# Default from project creation
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Vim swap files
*.swp
*.swo

# Vim backup files
*~

# Vim undo history files (if you enable persistent undo)
*.un~

# Vim info file
.viminfo
